/* =========== HOME ===========*/
/* ============================= */

.home-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home-hero {
  position: relative;
}

.home-img {
  width: 100%;
  display: block;
}

.home-box-container {
  width: 60vw;
  margin: 50px auto;
  /* border: black solid 0.5px; */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-box-container h2,
h3 {
  color: white;
}

.home-box {
  background-color: white;
  width: 100%;
  padding-top: 20px;
  border-radius: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid #b4b4b8;
}

.box {
  padding: 20px;
  margin-top: 10px;
  min-height: 100px;
}

.home-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
  width: 80vw;
}

.section-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.section-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.section-list li {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* =========== SEARCH ===========*/
/* ============================= */


.search-filter-container {
display: flex;
}

.search-filter-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-filter-label {
    color: black;
}

.search-filter-select {
    width: 160px;
    height: 40px;
    border: solid rgb(172, 172, 172) 1px;
    border-radius: 7px;
    padding-left:10px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
}