
/* =========== LAYOUT ===========*/
/* ============================= */

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.main-header {
  height: 150px;
  display: flex;
  align-items: center;
  padding-right: 80px;
  padding-left: 50px;
}

.main-header a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  padding: 5px 20px;
}

.main-header a:hover {
  color: #7b7b7b;
}

.main-header .site-logo {
  color: black;
  margin-right: auto;
  display: flex;
}

.logo {
  height: 4em;
  padding: 0em;
}

.logo-name {
  padding: 0;
  margin-left: 20px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 22px;
}

.nav {
  padding-top: 15px;
}

footer {
  background-color: #161616;
  height: auto;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
}

.footer-content-conatiner {
  color: #aaaaaa;
  padding: 70px 150px 40px 150px;
  font-size: 6vw;
}

.copyright-container {
  margin: 20px;
  margin-bottom: 100px;
  color: #aaaaaa;
}